# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# blas==1.0==mkl
ca-certificates==2020.7.22
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
et_xmlfile==1.0.1
icc_rt==2019.0.0
idna==2.9
intel-openmp==2020.1
jdcal==1.4.1
mkl==2020.1
mkl-service==2.3.0
mkl_fft==1.0.15
mkl_random==1.1.1
numpy==1.18.1
numpy-base==1.18.1
openpyxl==3.0.5
openssl==1.1.1g
pandas==1.0.3
pip==20.0.2
pycparser==2.20
pyopenssl==19.1.0
pysocks==1.7.1
python==3.7.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
setuptools==46.4.0
six==1.14.0
sqlite==3.31.1
urllib3==1.25.8
vc==14.1
vs2015_runtime==14.16.27012
wheel==0.34.2
win_inet_pton==1.1.0
wincertstore==0.2
xlrd==1.2.0
zlib==1.2.11

pandas==1.0.3
requests==2.23.0
numpy==1.18.1